* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 375px;
  height: 100dvh;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}