// Caractere qui represente la diagonale de x et de N
.diag {
  width: 10px;
  height: 50px;
}

// Caractere qui represente la longueur
.long {
  width: 10px;
  height: 50px;
  transform: scaleY(0);
}

// Caractere qui represente la largeur
.larg-l {
  width: 30px;
  height: 10px;
  transform: scaleX(0);
}

// Caractere qui represente la largeur en plus petite
.larg-s {
  width: 25px;
  height: 10px;
  transform: scaleX(0);
}

// Retabli le scaleX
.x-scale-1 {
  transform: scaleX(1);
}

// Retabli le scaleY
.y-scale-1 {
  transform: scaleY(1);
}

// Retabli le skewX et le translateY
.y-skew-1 {
  transform: skewX(22deg) translateY(0) !important;
}

// Retabli le skewX et le translateY
.-y-skew-1 {
  transform: skewX(-22deg) translateY(0) !important;
}

// Div qui contient la balise netflix
.netflix-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

// Div qui contient chaque caractere
.netflix {
  display: flex;
  gap: 10px;
  transition: transform 2s ease-in-out .15s;
}

// Masque netflix de moitie au debut
.hidden {
  transform: translateX(50%); 
}

// Styles generaux relatifs aux groupes de caracteres
.letter {
  height: 50px;
  width: 30px;
  position: relative;

  // Styles relatifs a chaque caractere
  div {
    position: absolute;
    background-color: #E50914;
    transition: transform .15s linear, box-shadow .6s linear;
    box-shadow: 0px 0px 8px black;
    left: 0;
    top: 0;
  }
}

// Suppresion de l'ombre
.no-shadow {
  box-shadow: 0px 0px 0px black !important;
}
